
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>@ViewData["Title"]</title>
    <style>
        tbody, td, tfoot, th, thead, tr {
            border-color: inherit !important;
            border-width: 0 !important;
        }

        .save-button2 {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #F3BC12;
            color: #23282B;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .modal .form-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .modal .form-left,
        .modal .form-right {
            display: flex;
            flex-direction: column;
            width: 48%;
        }

            .modal .form-left input,
            .modal .form-left select,
            .modal .form-right input {
                margin-bottom: 10px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

        .modal .map-container {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            height: 400px; /* Adjust height as needed */
            margin-top: 20px; /* Ensure space between form and map */
        }



        .modal .save-button {
            align-self: flex-end;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #F3BC12;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>

</head>
<body>
    <div class="container">
        <h1 class="Title">Users Table</h1>
        <p class="text-right">
            <a class="btn btn-primary" id="AddUserButton" onclick="location.href='@Url.Action("AddUser", "User")'">Create New Staff Member</a>
        </p>
        <p class="text-right">
            <a onclick="location.href='@Url.Action("DownloadExcel", "User")'" class="btn btn-primary">
                <i class="fas fa-share-square"></i> Export As Excel
            </a>
        </p>
        <div class="text-end mb-3">
            <button id="toggleFiltersButton" class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filterSection" aria-expanded="false" aria-controls="filterSection">
                Show Filters
            </button>
        </div>

        <!-- Filters Section -->
        <div id="filterSection" class="collapse">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="TypeFilter" class="form-label">Employee Type:</label>
                    <select id="TypeFilter" class="form-select">
                        <option value="">Select Type</option>
                        <option value="FullTime">Full Time</option>
                        <option value="PartTime">Part Time</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="TitleFilter" class="form-label">Title:</label>
                    <select id="TitleFilter" class="form-select">
                        <option value="">Select Title</option>
                        <option value="Runner">Runner</option>
                        <option value="Supervisor">Supervisor</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ActiveFilter" class="form-label">Active Status:</label>
                    <select id="ActiveFilter" class="form-select">
                        <option value="">Select Status</option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button id="FilterButton" class="btn btn-primary w-100">Apply Filters</button>
                </div>
            </div>
        </div>




        <table id="User-table" class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>TITLE</th>
                    <th>TYPE</th>
                    <th>ACTIVE</th>
                    <th>STATUS</th>
                    <th>LAST_ONLINE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editEventModalLabel">User Info</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeEditModal" onclick="$('#editEventModal').modal('hide');"></button>

                </div>
                <div class="modal-body">
                    <div class="form-container">
                        <div class="form-left">
                            <label for="Employee_ID">Employee_ID</label>
                            <input type="number" id="Employee_ID" name="Employee_ID" readonly />
                            <label for="Employee_Name">Employee Name</label>
                            <input type="text" name="Name" placeholder="Name" readonly />
                            <div class="form-group radio-group">
                                <label>Title</label>
                                <div>
                                    <input type="radio" id="Runner" name="Title" value="Runner" disabled>
                                    <label for="Runner">Runner</label>
                                </div>
                                <div>
                                    <input type="radio" id="Supervisor" name="Title" value="Supervisor" disabled>
                                    <label for="Supervisor">Supervisor</label>
                                </div>

                            </div>
                            <div id="supervisor-container" style="display: none;">
                                <label for="supervisor">Supervisor Name</label>
                                <input type="text" id="supervisor" name="supervisor" readonly />
                            </div>
                            <label>
                                <input type="checkbox" name="Active" value="true" id="active-checkbox" disabled>
                                Active
                            </label>
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="text" name="PhoneNumber" placeholder="Phone" readonly />
                            <label for="Address">Address</label>
                            <input type="text" name="Address" placeholder="Address" readonly />
                            <label for="NfcCode"> NFC Code</label>
                            <input type="text" name="NfcCode" placeholder="NFC Code" readonly />

                        </div>
                        <div class="form-right">
                            <label for="Zone_Name">Zone Name</label>
                            <input type="text" name="Zone_Name" placeholder="Zone_Name" readonly />
                            <label for="Subzone_Name">Subzone Name</label>
                            <input type="text" name="Subzone_Name" placeholder="Subzone_Name" readonly />
                            <div class="form-group radio-group">
                                <label>Employment Type:</label>
                                <div>
                                    <input type="radio" id="partTime" name="EmploymentType" value="PartTime" disabled>
                                    <label for="partTime">Part Time</label>
                                </div>
                                <div>
                                    <input type="radio" id="fullTime" name="EmploymentType" value="FullTime" disabled>
                                    <label for="fullTime">Full Time</label>
                                </div>
                            </div>
                            <label for="Kafeel">Kafeel</label>
                            <input type="text" name="Kafeel" placeholder="Kafeel" readonly />
                            <label for="AdditionalNotes">Additional Notes</label>
                            <input type="text" name="AdditionalNotes" placeholder="Additional Notes" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>

    function deleteUser(btn, uid) {
        if (confirm('Are you sure you want to delete this user?')) {
            $.ajax({
                url: '@Url.Action("Remove", "User")',
                type: 'POST',
                data: { id: uid },
                success: function (result) {
                    if (result.success) {
                        // Optionally reload the page to reflect the changes
                        $(btn).closest('tr').remove();

                    } else {
                        alert('Error deleting user');
                    }
                },
                error: function (err) {
                    // Handle error
                    console.error(err);
                    alert('Error deleting user');
                }
            });
        }
    }

    function EditUser(id) {
        if (confirm('Are you sure you want to edit this user?')) {
            $.ajax({
                url: '/User/EditUser', // Your endpoint to fetch employee data
                method: 'GET',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        // Store employee data in sessionStorage
                        sessionStorage.setItem('EmployeeData', JSON.stringify(response.employee));
                        console.log("Employee data stored in sessionStorage:", response.employee);

                        // Now redirect to the EditUser page after storing the data
                        window.location.href = "EditUser/" + id;
                    } else {
                        alert("Failed to retrieve employee data.");
                    }
                },
                error: function () {
                    alert("An error occurred while fetching employee data.");
                }
            });
        }
    }




    $(document).on('click', 'td[data-employee-id]', function () {
        console.log('Table row clicked');
        var userId = $(this).data('employee-id');
        fetchUserDetails(userId);
        $('#editEventModal').modal('show');
    });


    function fetchUserDetails(userId) {
        $.ajax({
            url: '/User/GetUserDetails',
            type: 'GET',
            data: { id: userId },
            success: function (result) {
                if (result.success) {
                    console.log(result);
                    populateModal(result.data);
                    $('#editEventModal').modal('show');
                } else {
                    alert('Error fetching user details');
                }
            },
            error: function (err) {
                console.error(err);
                alert('Error fetching user details');
            }
        });
    }
    function populateModal(user) {
        $('#Employee_ID').val(user.employee_ID);
        $('input[name="Name"]').val(user.name);
        $('input[name="PhoneNumber"]').val(user.phone);
        $('input[name="Address"]').val(user.address);
        $('input[name="NfcCode"]').val(user.nfcCode);
        $('input[name="Zone_Name"]').val(user.zone_Name);
        $('input[name="Subzone_Name"]').val(user.subzone_Name);
        $('input[name="Kafeel"]').val(user.kafeel);
        $('input[name="AdditionalNotes"]').val(user.additionalNotes);
        $('#supervisor').val(user.supervisor);
        $('#active-checkbox').prop('checked', user.active);
        $('input[name="Title"][value="' + user.title + '"]').prop('checked', true);
        $('input[name="EmploymentType"][value="' + user.type + '"]').prop('checked', true);

        if (user.title === "Runner") {
            // Show the supervisor input and set it as readonly
            $('#supervisor-container').show();
            $('#supervisor').val(user.supervisor).prop('readonly', true);
        } else {
            // Hide the supervisor input
            $('#supervisor-container').hide();
        }

    }

    $(document).ready(function () {

        $.ajax({
            url: '/User/Users',
            type: 'GET',
            success: function (response) {
                if (response.success) {
                  
                    var tableBody = $('#User-table tbody');
                    tableBody.empty();

                    $.each(response.modell, function (index, item) {
                       
                        var row = `
                                   <tr>
                                      <td data-employee-id="${item.employee_ID}"><img src="../Images/UserIcon.png" style="width: 35px; height: 35px; background-color: transparent; display: block;" alt="Icon" /></td>
                                      <td>${item.employee_ID}</td>
                                      <td>${item.name}</td>
                                      <td>${item.title}</td>
                                          <td>${item.employmentType}</td>
                                      <td>${item.active ? 'On' : 'Off'}</td>
                                      <td>${item.status || 'N/A'}</td>
                                      <td>${item.lastOnline || 'N/A'}</td>
                                    <td>
                                         <a onclick="EditUser(${item.employee_ID})" class="btn btn-primary" style="background-color: #F3BC12; border-color:#F3BC12; color:#23282B">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <button class="btn btn-danger" onclick="deleteUser(this, ${item.employee_ID})" style="background-color: #23282B; border-color:#23282B; color:#F3BC12">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>`;
                        tableBody.append(row);
                    });
                    var table = $('#User-table').DataTable();
                } else {
                    alert("Failed to fetch user data.");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
            }
        });
    });
</script>

<script>
    $('#toggleFiltersButton').click(function () {
        var $filterSection = $('#filterSection');
        var $button = $(this);

        if ($filterSection.is(':visible')) {
            // Hide the filter section
            $filterSection.hide();
            // Update button text to indicate that the filter is hidden
            $button.text('Show Filters');
        } else {
            // Show the filter section
            $filterSection.show();
            // Update button text to indicate that the filter is visible
            $button.text('Hide Filters');
        }
    });
    $(document).ready(function () {
        var employeeTable = $('#User-table').DataTable();

        $('#FilterButton').click(function () {
            fetchFilteredEmployees();
        });

        function fetchFilteredEmployees() {
            var employeeType = $('#TypeFilter').val();
            var title = $('#TitleFilter').val();
            var activeStatus = $('#ActiveFilter').val();

            $.ajax({
                url: '/User/GetFilteredUsers',
                type: 'GET',
                data: {
                    employeeType: employeeType,
                    title: title,
                    activeStatus: activeStatus ? (activeStatus === 'true') : null,
                },
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        employeeTable.clear(); // Clear the existing table data

                        $.each(response.data, function (index, employee) {
                            var row = `
                                        <tr>
                                                <td data-employee-id="${employee.employee_ID}"><img src="../Images/UserIcon.png" style="width: 35px; height: 35px;" alt="Icon" /></td>
                                            <td>${employee.employee_ID}</td>
                                            <td>${employee.name}</td>
                                            <td>${employee.title}</td>
                                            <td>${employee.employmentType}</td>
                                            <td>${employee.active ? 'On' : 'Off'}</td>
                                            <td>${employee.status || 'N/A'}</td>
                                            <td>${employee.lastOnline || 'N/A'}</td>
                                            <td>
                                                <a onclick="EditUser(${employee.employee_ID})" class="btn btn-primary" style="background-color: #F3BC12; border-color:#F3BC12; color:#23282B">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <button class="btn btn-danger" onclick="deleteUser(this, ${employee.employee_ID})" style="background-color: #23282B; border-color:#23282B; color:#F3BC12">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>`;
                            employeeTable.row.add($(row)).draw();
                        });
                    } else {
                        alert('Failed to fetch filtered employees: ' + (response.message || 'Unknown error.'));
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching filtered employees: " + error);
                }
            });
        }
    });
</script>


