html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.logo {
    background-image: url('@Url.Content("~/Images/parkit_logo_white.png")');
    background-size: contain; /* Ensures the entire image fits within the element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 200px; /* Adjust to fit your image size */
    height: 100px; /* Adjust to fit your image size */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.user-panel {
    height: 100px; /* Adjust this height to fit your layout */
    display: flex;
    align-items: center;
    justify-content: center;
}

    .user-panel img.logo {
        width: 100%;
        height: 100%;
        object-fit: contain; /* This will make sure the image scales to fit without distortion */
    }

.active-status {
    background-color: #F3BC12 !important;
    color: #000000 !important;
}

.nav-link:hover {
    background-color: #F3BC12 !important;
}

.user-panel img {
    height: 40px;
    width: 180px;
}

.logo-White {
    height: 40px;
    width: 180px;
}

/* Style for all buttons */
.btn {
    background-color: #23282B; /* Dark background */
    color: #fff; /* White text */
    border-radius: 10px;
    border: 1px solid #23282B; /* Dark border */
}

    .btn:hover,
    .btn:focus {
        background-color: #1d1f1f; /* Slightly darker on hover/focus */
        color: #fff;
        border-color: #1d1f1f;
    }

/* Style for primary buttons */
.btn-primary {
    background-color: #F3BC12; /* Yellow background */
    color: #23282B; /* Dark text */
    border: 1px solid #F3BC12; /* Yellow border */
    border-radius:10px;
    /*    margin-bottom: 10px;*/
}

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #e0a900; /* Slightly darker yellow on hover/focus */
        color: #23282B;
        border-color: #e0a900;
    }

.btn-Save {
    background-color: #28a745 !important; /* Green background */
    color: #fff !important; /* White text */
    border: 1px solid #28a745 !important; /* Green border */
    border-radius:10px;
}

    .btn-Save:hover,
    .btn-Save:focus {
        background-color: #218838 !important; /* Slightly darker green on hover/focus */
        border-color: #218838 !important;
    }

.bg-primary {
    background-color: #23282B !important;
}

#map {
    height: 80vh;
    width: 100%;
}

/* Fixed sidebar with margin from the edge of the screen */
.main-sidebar {
    position: fixed !important;
    top: 20px; /* Adds margin from the top */
    left: 20px; /* Adds margin from the left edge */
    width: 230px; /* Smaller width for the sidebar */
    height: 100vh !important; /* Full height but accounts for margin */
    background-color: #23282B; /* Dark background */
    border-radius: 20px; /* Rounded corners */
    z-index: 1000; /* Ensure it stays above other content */
    overflow: hidden !important; /* Prevent scrolling */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); /* Adds shadow for floating effect */
    padding-bottom: 20px; /* Adds padding at the bottom for spacing */
    margin-top: 10px;
    margin-bottom: 25px;
}

.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: unset !important;
    /*    transition: width ease-in-out .3s;*/
}

body:not(.layout-fixed) .main-sidebar .sidebar {
    overflow: hidden;
}

body:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 90% !important;
    position: absolute;
    top: 0;
}

/* Ensure the sidebar content has padding and centers the user panel */
.sidebar {
    height: 100% !important;
    padding: 15px;
}

[class*=sidebar-dark] .btn-sidebar, [class*=sidebar-dark] .form-control-sidebar {
    border: 1px solid #56606a;
    color: #23282B;
}

.user-panel {
    text-align: center;
    padding-bottom: 20px;
}

/* Style for the sidebar links */
.nav-sidebar .nav-link {
    color: #fff;
    border-radius: 10px; /* Rounded button-like links */
    padding: 10px;
}

    .nav-sidebar .nav-link.active-status {
        background-color: #F3BC12; /* Yellow for active links */
        color: #23282B;
    }



    .nav-sidebar .nav-link:hover {
        background-color: #1d1f1f; /* Slightly darker background on hover */
    }

/* Modify sidebar search button */
.btn-sidebar {
    background-color: #F3BC12;
    color: #23282B;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .main-sidebar {
        width: 180px; /* Smaller width on mobile screens */
        left: 10px; /* Less margin on smaller screens */
        top: 10px; /* Less margin on smaller screens */
        height: calc(90vh - 20px);
    }
}

.main-header .nav-link {
    height: 2.5rem;
    position: relative;
    border-radius: 12px;
}

.main-sidebar {
    position: fixed !important;
    top: 20px;
    left: 20px;
    width: 230px;
    height: 95vh !important;
    background-color: #23282B;
    border-radius: 20px;
    z-index: 1000;
    overflow: hidden !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;   
    margin-top: 10px;
    margin-bottom: 25px;
    /* Add the following line to collapse the main-sidebar */
    transition: width 0.3s ease-in-out;
}
   
.sidebar-div {
    display: flex !important;
    height: calc(70vh - 200px) !important;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 255px;
    border-radius: 20px;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 6.6rem !important;
    }

    .btn-sidebar, .form-control-sidebar {
        border: 1px solid #56606a;
        color: #fff;
    }

    /* Override the dark theme specifically for the search bar */
    .search-bar .form-control-sidebar {
        background-color: #fff !important; /* White background */
        color: #000 !important; /* Dark text */
        border: 1px solid #ccc !important; /* Light border */
    }

    .search-bar .btn-sidebar {
        background-color: #F3BC12 !important; /* Light button background */
        color: #000 !important; /* Dark search icon */
    }

    .search-bar .form-control-sidebar::placeholder {
        color: #999 !important; /* Lighter placeholder color */
    }

    /* New CSS for closing the sidebar */
    .main-sidebar.collapsed {
        width: 3.5rem !important; /* Set the desired collapsed width here */
        padding: 0 !important;
    }

        .main-sidebar.collapsed .nav-sidebar {
            display: none;
        }

        .main-sidebar.collapsed .btn-sidebar {
            display: block !important;
        }

        /* Additional CSS to ensure text hides completely */
        .main-sidebar.collapsed .nav-sidebar .nav-link {
            display: none;
        }

        .main-sidebar.collapsed:hover {
            width: 3.5rem !important; /* Keep the width constant */
            transition: none; /* Disable transition on hover */
        }

    th {
        background-color: #23282B;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
    }


    a {
        color: #F3BC12;
        text-decoration: none;
    }

    .Title {
        text-align: center;
        color: #23282B;
        font-weight: normal;
    }

    .small-box > .small-box-footer {
        background-color: rgba(0, 0, 0, .1);
        color: rgba(255, 255, 255, .8);
        display: block;
        padding: 3px 0;
        position: relative;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        z-index: 10;
    }

    .bg-danger, .bg-danger > a {
        color: #fff !important;
        border-radius: 15px;
    }

    .bg-warning, .bg-warning > a {
        color: #1f2d3d !important;
        border-radius: 15px;
    }

    .bg-success, .bg-success > a {
        color: #fff !important;
        border-radius: 15px;
    }

    .bg-info, .bg-info > a {
        color: #fff !important;
        border-radius: 15px;
    }

    .loadMoreBtn {
        margin-bottom: 12px;
        background-color: #F3BC12;
        color: #23282B;
        border-radius: 10px;
        width: 100%;
        border: 1px solid #F3BC12;
    }

    .cardDash {
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
        margin-bottom: 1rem;
        border-radius: 20px;
        padding: 5px;
    }

    /* Add rounded corners to the DataTable */
    table.dataTable {
        border-radius: 17px; /* Adjust this value as needed */
        overflow: hidden; /* Ensures the rounded corners are applied correctly */
    }

        table.dataTable.no-footer {
            border-bottom: 3px solid #e8e9ec;
        }

    .list-group {
        border-radius: 17px;
    }

    .settings-container {
        border-radius: 20px;
        overflow: hidden;
    }

        .settings-container .card {
            border-radius: 20px;
        }

    .card-header {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }